<a href="https://colab.research.google.com/github/Teena539/Pythoncodes/blob/main/Day_10(Dataframe_Functions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.6)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.10)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [ ]:
import opendatasets as od

In [ ]:
od.download("https://www.kaggle.com/datasets/steve1215rogg/student-lifestyle-dataset")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: dhanasri539
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/steve1215rogg/student-lifestyle-dataset
Downloading student-lifestyle-dataset.zip to ./student-lifestyle-dataset

100%|██████████| 21.6k/21.6k [00:00<00:00, 10.5MB/s]

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/student-lifestyle-dataset/student_lifestyle_dataset.csv')

In [ ]:
data

,Student_ID,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,GPA,Stress_Level
0,1,6.9,3.8,8.7,2.8,1.8,2.99,Moderate
1,2,5.3,3.5,8.0,4.2,3.0,2.75,Low
2,3,5.1,3.9,9.2,1.2,4.6,2.67,Low
3,4,6.5,2.1,7.2,1.7,6.5,2.88,Moderate
4,5,8.1,0.6,6.5,2.2,6.6,3.51,High
...,...,...,...,...,...,...,...,...
1995,1996,6.5,0.2,7.4,2.1,7.8,3.32,Moderate
1996,1997,6.3,2.8,8.8,1.5,4.6,2.65,Moderate
1997,1998,6.2,0.0,6.2,0.8,10.8,3.14,Moderate
1998,1999,8.1,0.7,7.6,3.5,4.1,3.04,High
1999,2000,9.0,1.7,7.3,3.1,2.9,3.58,High

In [ ]:
#  data.loc[]

# Display the first row of the dataframe.
data.loc[0]

Student_ID                                1
Study_Hours_Per_Day                     6.9
Extracurricular_Hours_Per_Day           3.8
Sleep_Hours_Per_Day                     8.7
Social_Hours_Per_Day                    2.8
Physical_Activity_Hours_Per_Day         1.8
GPA                                    2.99
Stress_Level                       Moderate
Name: 0, dtype: object

loc is primarily **label-based indexing**. This means that you **select rows and columns using their labels** (row and column names)

In [ ]:
# data.iloc[]

# Display the second row of the dataframe (index 1).
data.iloc[1]

Student_ID                            2
Study_Hours_Per_Day                 5.3
Extracurricular_Hours_Per_Day       3.5
Sleep_Hours_Per_Day                 8.0
Social_Hours_Per_Day                4.2
Physical_Activity_Hours_Per_Day     3.0
GPA                                2.75
Stress_Level                        Low
Name: 1, dtype: object

iloc is a **integer position-based indexing.** This means that you select rows and columns using their **integer positions** (starting from 0).

In [ ]:
#  Axis0

# Calculate the sum of each column (axis=0).
column_sums = data.sum(axis=0)
column_sums

Student_ID                                                                   2001000
Study_Hours_Per_Day                                                          14951.6
Extracurricular_Hours_Per_Day                                                 3980.2
Sleep_Hours_Per_Day                                                          15002.5
Social_Hours_Per_Day                                                          5409.1
Physical_Activity_Hours_Per_Day                                               8656.6
GPA                                                                          6231.92
Stress_Level                       ModerateLowLowModerateHighModerateHighHighLowM...
dtype: object

**axis=0** refers to the **rows of the DataFrame.**

In [ ]:
# Axis1

# Calculate the sum of each row (axis=1) for numeric columns only.
row_sums = data.select_dtypes(include=np.number).sum(axis=1)
row_sums

0         27.99
1         28.75
2         29.67
3         30.88
4         32.51
         ...
1995    2023.32
1996    2023.65
1997    2025.14
1998    2026.04
1999    2027.58
Length: 2000, dtype: float64

**axis=1** refers to the **columns of the DataFrame**